<%= render "shared/error", obj: @user %>
<div class="span5 well">
	<%= form_for @user do |f| %>
		<p>
			<%= f.label :username %>
			<%= f.text_field :username %></p>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %></p>
		<p>
			<%= f.time_zone_select :time_zone %>
		<p><%= f.submit @user.new_record? ? "Sign up" : "Update", :class=>"btn btn-primary" %></p>
	<% end %>
</div>