<p class="lead">Profile: <%= current_user.username %></p>
<hr>

<div class="well">
	<p><b>Username: </b> <%= current_user.username %></p>
	<p><b>Time zone: </b> <%= current_user.time_zone %></p>
	
</div>
<div>
	<h5><%= current_user.username %>'s Activity</h5>

	
	<h4>Your posts:</h4>
		<% @user.posts.each do |f| %>
			<p> <%= link_to f.title, post_path(f) %> </p>
		<% end %>
	<h4>Your comments:</h4>
		<ul>
			<% @user.comments.each do |f| %>
			<li> Post: <%= f.post.title %></li>
			<p> Your comment:<br><%= f.body %><%= link_to "more", post_path(params[f.user_id]) %></p>
			<% end %>
		</ul>
</div>
