<p class="lead">Profile: <%= current_user.username %></p>
<hr>

<div class="well">
  <p><b>Username: </b> <%= current_user.username %></p>
  <p><b>Time zone: </b> <%= current_user.time_zone %></p>
</div>

<div>
  <h5><%= current_user.username %>'s Activity</h5>
  <!-- nav tabs-->
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Post</a></li>
      <li><a href="#tab2" data-toggle="tab">Comment</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <% @user.posts.each do |f| %>
        <ul>
          <li> <%= link_to f.title, post_path(f) %> </li>
        </ul>
        <% end %>
      </div>
      <div class="tab-pane" id="tab2">
        <ul>
          <% @user.comments.each do |f| %>
          <li> <b>Post:</b> <%= f.post.title %></li>
          <p> <b>Comment:</b> <br><%= f.body %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>
