<p class="lead">Profile: <%= current_user.username %></p>
<hr>

<div class="well">
  <p><b>Username: </b> <%= @user.username %></p>
  <p><b>Time zone: </b> <%= @user.time_zone %></p>
</div>

<div>
  <h5><%= @user.username %>'s Activity</h5>
  <!-- nav tabs-->
  <ul class="nav nav-tabs">
    <li class='<%= 'active' if params[:tab].nil? %>'>
      <%= link_to "Posts (#{@user.posts.length})", user_path(@user) %>
    </li>
    <li class='<%= 'active' if params[:tab] == 'comments' %>'>
      <%= link_to "Comments (#{@user.comments.length})", user_path(@user, tab: 'comments') %>
    </li>
  </ul>
  
  <% if params[:tab].nil? %>
    <%= render "posts/post", post: @user.posts %>
  <% elsif params[:tab] =='comments' %>
    <% @user.comments.each do |f| %>
    <ul>
      <li><%= link_to f.body, post_path(f.post_id) %></li>
    </ul>
    <% end %>
  <% end %>
    
  <hr>
</div>
