<% if comment.nil? %>
  <hr>
  <p> No comments </p>
<% else %>
  <div class="row">
    <div class="span12">
      <h5>Comments (<%= comment.length %>) </h5>
    </div> 

    <% comment.each do |comment| %>
      <div class="row">
        <div class="span12">
          <div class="span1 well text-center">
            <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %> 
              <i class="icon-arrow-up"></i>
            <% end %>
              <p><%= comment.total_votes %> votes</p>
            <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %> 
              <i class="icon-arrow-down"></i>
            <% end %>
          </div>
          <div class="span8 well">
            <p><em>"<%= comment.body %>"</em> on <%= link_to comment.post.title, post_path(comment.post_id) %></p>

            <p><span class="muted"> posted by</span> <%= link_to comment.user.username, user_path(comment.user) %> <small cla
            =""> at <%= display_time(comment.created_at) %></small></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
<% end %>