<% post.each do |post| %>
  <div class="row">
    <div class="span12">
      <!--Vote-->
      <div class="span1 well text-center">
        <!--up arrow-->
        <% if logged_in? %>
          <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %> 
            <i class="icon-arrow-up"></i>
          <% end %>
        <% end %>
        <!--numbers of votes_for-->
        <br>
        <span id="post_<%= post.id %>_votes"><%= post.total_votes %> votes</span>
        <!--down arrow-->
        <% if logged_in? %>
          <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %> 
            <i class="icon-arrow-down"></i>
          <% end %>
        <% end %>
        <br>
      </div>
      <!--End of Vote-->
      <!--Posts-->
      <div class="span8 well">
        <%= render "posts/category", post: post %>
        <h4><%= link_to post.title, post_path(post) %></h4>
        <p><%= truncate("#{post.description}", length: 200, omission: '...') %><br><%= link_to "...more", post_path(post) %></p>
        <p><span class="muted">posted by</span> <%= link_to post.user.username, user_path(post.user) %> <small class="">at <%= display_time(post.created_at) %> </small></p>
        <p><%= link_to "#{post.comments.length} comments", post_path(post) %></p>
      </div>

    </div>
  </div>
<% end %>