<%= render "shared/content_title", title: "All posts" %>

<% @posts.each do |post| %>
<h4><%= link_to post.title, post_path(post) %></h4>
<p>Posted by <%= post.user.username %> on <%= display_time(post.created_at) %>.</p>
<p>Last updated: <%= display_time(post.updated_at) %>. </p>
<% end %>
