<p class="pull-right">[<%= link_to "See all posts", posts_path %>]</p>
<br>
<div class="row">
  <%= render "posts/post_complete", post: @post %> 
</div>

<% if logged_in? %>
  <div class="row">
    <div class="span9">
      <h5>Leave Comment</h5>
    </div>
    <div class="span9 well">
      <%= form_for [@post, @comment] do |f| %>
        <%= render 'shared/error', obj: @comment %>
        <%= f.text_area :body, :class=>"span9", size:"3x3" %>
        <p><%= f.submit "Send", :class=>"btn btn-primary pull-right" %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "posts/comment", post: @post %>

