<p class="pull-right">[<%= link_to "See all posts", posts_path %>]</p>
<br>
<%= render "posts/post_complete", post: @post %> 


<% if logged_in? %>
  <div class="row">
    <div class="span12">
      <h5>Leave Comment</h5>
    </div>
    <div class="span9 well">
      <%= form_for [@post, @comment] do |f| %>
        <%= render 'shared/error', obj: @comment %>
        <%= f.text_area :body, :class=>"span9", size:"3x3" %>
        <p><%= f.submit "Send", :class=>"btn btn-primary pull-right" %></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if @post.comments.nil? %>
  <p> No comments </p>
<% else %>
  <div class="row">
    <div class="span12">
      <h5>Comments (<%= @post.comments.length %>) </h5>
    </div>

    <% @post.comments.each do |comment| %>
      <div class="row">
        <div class="span12">
          <%= render "shared/vote" %>
          <div class="span8 well">
            <p><%= comment.body %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

